<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thanh toán QR - FeelHome</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container py-5 text-center">

    <h2 class="mb-4">Quét mã QR để thanh toán</h2>

    <div class="card shadow p-4 mx-auto" style="max-width: 500px;">

        <p><strong>Mã Booking:</strong></p>
        <h4 th:text="${booking.id}"></h4>

        <img th:src="'https://qr.sepay.vn/img?bank=MBBank&acc=0855587468&template=compact&showinfo=true&holder=NGUYEN%20DUC%20PHAT&amount='
                + ${#numbers.formatDecimal(invoice.totalAmount,0,0)}
                + '&des=FEELHOMEBK' + ${booking.id}"
             class="img-fluid border p-2 mb-3"
             style="max-width:250px;">

        <p>Nội dung chuyển khoản:</p>

        <h3 class="text-danger" th:text="'FEELHOMEBK' + ${booking.id}"></h3>

        <p class="text-muted mt-3">
            Hệ thống sẽ tự động xác nhận khi nhận được tiền.
        </p>

    </div>

</div>

</body>
</html>